.todo {
  background-color: #f5f5f5;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: rgb(221, 123, 221);
  text-align: center;
  font-size: 8rem;
  opacity: 0.4;
  margin-bottom: 1rem;
}

.todoForm {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.todo-input {
  border: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.todo-input::placeholder {
  color: #d5d5d5;
}

.todos {
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todo-list {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.editArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editArea input {
  width: 100%;
}

.editArea .editBtn {
  border: none;
  font-size: 1rem;
  color: rgba(221, 123, 221, 0.596);
}

.checkboxOrTodoData {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkboxOrTodoData p {
  overflow: hidden;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

.editAndUpdateBtn {
  display: flex;
  gap: 1rem;
}

.editAndUpdateBtn button {
  border: none;
  font-size: 1rem;
  color: rgba(221, 123, 221, 0.596);
}

.todos li {
  /* border-top: 1px solid #e5e5e5; */
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.todos li.completed {
  color: #b5b5b5;
  text-decoration: line-through;
}

.phone {
  display: none;
}

small {
  margin-top: 3rem;
  color: #b5b5b5;
  text-align: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 769px) {
  small {
    display: none;
  }

  .phone {
    display: flex;
  }
}

@media (max-width: 426px) {
  h1 {
    font-size: 7rem;
  }

  .todoForm {
    width: 340px;
  }

  small {
    display: none;
  }
}

@media (max-width: 376px) {
  h1 {
    font-size: 6rem;
  }

  .todoForm {
    width: 300px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 5rem;
  }

  .todoForm {
    width: 280px;
  }
}
